#search-bar{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#search{
    height: 35px;
    width: 600px;
    border-style: none;
    border-bottom: 1px solid #00000059;
    font-size: 17px;
}

#search:focus{
    outline:none;
}

#search-bar::before{
    background-image: url(../images/search-icon.png);
    width: 29px;
    height: 30px;
    content: '';
    background-size: 22px 20px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 19px;
    left: 3px;
}
